<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      </head>
    <body>
    <div class="container">
        <h2><%= title %></h2><br>
        <a href="/add" class="btn btn-sm btn-primary">Add User</a><br><br>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    
                    <th>Course_id</th>
                    <th>Course Name</th>
                    <th>Department</th>
                    <th>Institute</th>
                    <th>University</th>
                    <th>Action</th>
                </tr>
            </thead>
        <tbody>
         
            <% user.forEach(function(rows){ %>
                <tr>
                    
                    <td><%= rows.course_id %></td>
                    <td><%= rows.course_name %></td>
                    <td><%= rows.department %></td>
                    <td><%= rows.institute %></td>
                    <td><%= rows.university %></td>
                    <td>
                        <a href="edit/<%= rows.id %>" class="btn btn-sm btn-primary">Edit</a>
                        <a href="delete/<%= rows.id %>" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            <% }); %>
          
        </tbody>
        </table>
    </div>
    </body>
</html>
